@import "../../style/communs.scss";
.presentationContainerGlobal{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: justify; 
    background-color: white;
    height: 600px;
    //border: 2px solid red;
}
#photoID{
    width: 250px;
    margin-right: 20px;
}
.containerPresentationElement{
    background-color: yellow;
    display: flex;
}
.textePresentation{
    width: 400px;
}

@media #{$small-down} {
    .presentationContainerGlobal{
       
         height:auto;        
     }
     #photoID{
        margin-top: 50px;
    margin-right: 0;
     }
 
   .textePresentation{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 10px;
    width: auto;
}

  }