@import "../../style/communs.scss";

#containerBando{
	//hauteur du container
	height: 200px;
    background-color: white; 
   	display: flex;
	justify-content: center;
	align-items: center;
	//placement bando sous le header fixe
	margin-top: 230px;
}
/* Défilement de droite à gauche */
.marquee-rtl {
	overflow: hidden; /* important */
	width:auto;  /* A ADAPTER */
  }
  .marquee-rtl > img {
	display: inline-block; /* important */
	white-space: nowrap; /* important */
	animation: defilement-rtl 20s infinite linear; /* défilement */
	cursor: pointer;
	padding: 10px 2em 10px 100%;
  }
 
  .marquee-rtl > img:first-letter {
	font-weight: 700;
	
  }
  @keyframes defilement-rtl {
	0% {
	  -webkit-transform: translate(0);
	  transform: translate(0);
	}
	100% {
	  -webkit-transform: translate(-100%);
	  transform: translate(-100%);
	}
  }
  /* ---------------------------- */
  /* texte sur plusieurs lignes automatiquement */
  .marquee-multi-lignes > img { 
	width:90%; 
	white-space: normal; /* important */
  }




 
 @media #{$small-down} {
.defile {
		  font-size:20px;
}
#containerBando{
	//hauteur du container
	height: 90px;
margin-top: 420px;}

  }
  