@import "../../style/communs.scss";
.containerLogo {
  text-align: center;
  margin: 20px;
}

@media #{$small-down} {
  .containerLogo {
    text-align: left;
    margin: 0px;
  }
  #logo {
    width: 100px;
  }
}
