@import './responsive.scss';

body {
  margin: 10px;
  background: #081f46;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face
{
    font-family: 'digital_geometric';
    src: url('../font/digital_geometric_bold.ttf');
    
}
 
@font-face
{
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf');
    
}
.sectionSuivante{
  height: 100px;
  //background-color: yellowgreen;
}

h1{
  font-weight: lighter;
  text-transform : uppercase;
  font-family: 'courier',monospace; 
 
}
h3{
  text-transform : uppercase;
 }
@media #{$small-down} {
  h1{
    font-size: 20px;
  }
  h3{
    font-size: 12px;
  }
 }