@import '../style/responsive.scss';
body {
  margin: 10px;
  background: #081f46;
  font-family: 'roboto', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face
{
    font-family: 'digital_geometric', monospace;
    src: url(../font/digital_geometric_bold.ttf);
}
 
.sectionSuivante{
  height: 100px;
  //background-color: yellowgreen;
}

h1{
  text-transform : uppercase;
  font-family: 'courier', monospace; 
 text-decoration: underline;
}
h3{
  font-family: 'roboto',monospace;
  font-weight: bold;
}
@media #{$small-down} {
  h1{
    font-size: 20px;
  }
  h3{
    font-size: 12px;
  }
 }