@import "../../style/communs.scss";
.containerNumberEnsemble {
    font-family: 'courier',monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  //border: 2px solid red;
}
.txtNumber{
   width: 240px;
  color:#081f46;
 }
.containerNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  //border: 2px solid red;
}
.number {
  display: flex;
  flex-direction: column;
  width: 350px;
  //border: 2px solid blue;
}
.rose, .violet, .blue{
  color: #e9afd0;
  font-weight: bold;
  font-size: 39px;
  font-family: 'digital_geometric',monospace ;
}
.rose{
  color: #e9afd0;
}
.violet{
  color: #c2badd;
}
.blue{
  color: #b9d2e2;
}
#triangle-code-rose {
  margin: 20px;
  display: inline-block;
  height: 0;
  width: 0;
  margin-top: -50px;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #e9afd0;
  border-left: 30px solid transparent;
  transform: rotate(0.25turn);
}
#triangle-code-violet {
  margin: 20px;
  display: inline-block;
  height: 0;
  width: 0;
  margin-top: -50px;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #c2badd;
  border-left: 30px solid transparent;
  transform: rotate(0.25turn);
}

@media #{$small-down} {
  // .containerNumberEnsemble {
  //  padding-left: 20px;
  //  padding-right: 20px;
  // height: 100px;
 
  // }
  // .containerNumber {
  //      font-size: 15px;
  // }
  .number {
      width: 40px;
  }
  #triangle-code-rose {
    margin: 15px;
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #e9afd0;
    border-left: 20px solid transparent;
    transform: rotate(0.25turn);
  }
  #triangle-code-violet {
    margin: 15px;
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #c2badd;
    border-left: 20px solid transparent;
    transform: rotate(0.25turn);
  }
  .txtNumber{
    font-size: 8px;
    width: 60px;
  }
  .rose, .violet, .blue {
       font-size: 20px;
  }
  
  
}
